MAX_BOT = 200
DEVS = 7763380474
API_ID = 28036572
API_HASH = c8e6d2a215b723989eb1419ea921db82
BOT_TOKEN = 8051785072:AAEi630rPp5phqTRA2Rgdhq5tFFkjotP9DI
OWNER_ID = 7763380474
BLACKLIST_CHAT = -4767188817 
RMBG_API = Y8mKMpDEsaZsvRikj4xk8xRR
MONGO_URL = mongodb+srv://Noezzzcupayy:Noezzzcupayy@noezzzcupayy.oyskith.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGS_MAKER_UBOT = -4767188817
